<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project.name }}</title>
</head>
<body>
    <h1>{{ project.name }}</h1>
    <p>{{ project.description }}</p>

    {% if is_member %}
        <h2>Forum</h2>
        <ul>
        {% for message in messages %}
            <li>{{ message.message }} - {{ message.sender_name }} - {{ message.timestamp | short_timestamp}}</li>
        {% endfor %}
        </ul>
        <form action="{{ url_for('post_project_message', project_id=project.id) }}" method="POST">
            <textarea name="message" placeholder="Enter your message"></textarea>
            <button type="submit">Send</button>
        </form>
        <form action="{{ url_for('edit_project', project_id=project.id) }}" method="GET">
            <button type="submit">Edit Project</button>
        </form>
    {% else %}
        <form action="{{ url_for('join_project', project_id=project.id) }}" method="POST">
            <button type="submit">Join Project</button>
        </form>
        <p>You are not a participant in this project.</p>
    {% endif %}
    
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
